section {
  min-height: 100vh;
  display: block;
}
/*
Section 1 - Intro Splash
==================================================================
 */


#section-intro {
  //height: 100vh;
  background-color: blue;
  position: relative;

  div {
    position: relative;
    top: 50vh;
    color: white;
  }
}

/*
Section 2 - About Me
==================================================================
 */


#section-bio {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  div {
    color: black;
  }
}

/*
Section 3 - Skills
==================================================================
 */


#section-skills{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: burlywood;

  div {
    color: black;
  }
}

.competency-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
Section 4 - Projects
=================================================================
 */

#section-projects {
  min-height: 750px;
}

.left {
  p{
    font-size: 11pt;
  }
}

#section-projects{
  img {
    transition: opacity 0.3s ease;
  }
}

/*
Section 5 - Contact
=================================================================
 */

#section-contact {
  background-color: rebeccapurple;
  min-height: 1px;
  height: 300px;
  position: relative;

  color: white;

  a {
    color: white;
    font-family: "Libre Franklin", sans-serif;
  }

  ul {
    margin-top: 30px;
    display: flex;
  }

  li {
    list-style-type: none;
    margin: 0 10px;
  }

  li:before {
    content: '<';
  }

  li:after {
    content: "/>";
  }


  small {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

}